
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(190, 246, 190);
    background-image: url("../images/she.png");
    background-repeat: no-repeat;
}

.wrapper{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 250px;
}

header{
    justify-content:space-between ;
    color: rgb(218, 165, 32);
    height: 75px ;
    width: 100%;
    text-align: center;
    font-style: italic;
}

h1{
    font-size: 20px;
}

.lovers-message{
   padding-left: 100px;
}

main{    
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
      padding:  10px auto;
    width: 95%;
}

.new-age{
    background-color: #fff;
    display: inline-block;
    height: 50px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

section{
    width: 85%;
    background-color: rgb(219, 219, 248);
}

article{
    margin-top: -100px;
}

.heart{
    position: absolute;
    top: 150px;
    left: 150px;
}

.heart .message{
    margin: 90px 0 0 -40px;
    text-align: center;
    z-index: 5;
    vertical-align: middle;
    background: transparent;
    width: 80px;
    line-height: 25px;
    color: white;
}


.new-age{
    position: relative;
    border-right: 80px solid transparent;
    border-left: 80px solid transparent;
    border-bottom: 150px solid rgb(162, 228, 30);
    transform: rotate(0deg);
    background: transparent;
}

.new-age::before,.new-age::after{
    position: absolute;
    content: " ";
    height: 100px;
    width: 85px;
    border-radius: 50% ;
    background:linear-gradient(180deg, yellowgreen 10%, rgb(235, 235, 142), whitesmoke);
    top: 119px;
    z-index: -2;
}

.new-age::before{
   left: -3px;
}

.new-age::after{
 left: -82px;
}


textarea{
    position: absolute;
    width: 93%;
    height: 170px;
    overflow: hidden;
    background: linear-gradient(white, rgb(130, 247, 130));
    border: 1px solid blue;
    border-radius: 2%;
     color: goldenrod;
    font-weight: bolder;
    font-size: 20px;
    font-style: oblique;
    top: 370px;
}

button{
    position: absolute;
    top: 500px;
    left: 150px;
    border-radius: 50px;
    border: none;
    background-color: white ;
    padding: 10px 15px;
    color: goldenrod;  
    font-style: italic; 
}

#celebrate-and-celebrators{
    margin-top: 230px;
}

fieldset{
    border: none;
    display: flex; 
}

label{
    font-weight:bold ;
    color: rgb(157, 141, 241);
    font-size: 15px;
     padding-right: 10px;
     width: 100px;
}


input{
    margin-bottom: 20px;
   border: none;
   background-color: rgba(225,225,225, .1);
}

[value]{
    color: green;
    font-size: 15px;
    font-weight: bold;
    font-style: oblique;
}

footer{
    color: goldenrod;
    font-style: italic;
}

.gbye{
    text-align: center;
}

.heart-animtion{
     animation-duration: 3s;
        animation-iteration-count: 19;
        animation-fill-mode: forwards;
        animation-name: heart;
        animation-timing-function: ease;
}

@keyframes heart{   

   
    100%{
        transform: rotateY(360deg);
        
    }
}

.message-animation{
     animation-duration: 3s;
        animation-iteration-count: 19;
        animation-fill-mode: forwards;
        animation-name: message;
        animation-timing-function: ease;
}

@keyframes message{
    10%{
        margin:  250px ;
        transform: rotateY(360deg);
        margin-top: 10px;
        color: goldenrod;
    }

   30%{
    color: blueviolet;
    background: greenyellow;
   }

50%{
    color:green;
}

    70%{
        color: grey;
        background-color: white;
    }

    90%{
        color: white;
    }
}

.btn{
      animation-duration: 60s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-name: btn;
        animation-timing-function: ease;
}


@keyframes btn{

    1%{
     
       background: transparent;
       color: transparent;
       z-index: -2;
    }
    50%{
     
       background: transparent;
       color: transparent;
        z-index: -2;
    }
    90%{
     
       background: transparent;
       color: transparent;
        z-index: -2;
    }
    
}